body {
  background-color: #f6f8f9;
  min-width: 250px;
  height: 400px;
  overflow-x:hidden;
  margin: 0px;
  font-family: monospace;
}

.roomButton {
  font-size: 16px;
  position: relative;
  display: inline-block;
  border: solid 1px #ccc;
  background-color: #eee;
  margin: 4px;
  padding: 2px;
  cursor: pointer;
}

#notice {
  text-align: center;
  font-weight: bold;
}

.message {
  width: 240px;
  display: inline-block;
  border-bottom: solid 1px #eee;
}

.message img {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 4px;
  float: left;
}

.message div.body {
  display: inline-block;
  margin: 4px;
  width: 175px;
}

.message p {
  position: relative;
  margin: 2px 0px;
}

.message p.time {
  display: inline-block;
  font-size: 10px;
  color: #888;
}
