body {
  background-color: #f6f8f9;
  min-width: 250px;
  height: 400px;
  overflow-x:hidden;
  margin: 0px;
  font-family: monospace;
}

.roomButton {
  font-size: 16px;
  position: relative;
  display: inline-block;
  border: solid 1px #ccc;
  background-color: #eee;
  margin: 4px;
  padding: 2px;
}

.message {
  width: 240px;
  display: inline-block;
  border-bottom: solid 1px #eee;
}

.message img {
  display: inline-block;
  margin: 5px;
  float: left;
}

.message p.body {
  display: block;
  margin: 3px;
}

.message p.time {
  display: inline-block;
  font-size: 10px;
  color: #888;
}
